.friend-add-item-wrap {
  cursor: pointer;
  &:hover {
    background-color: rgba(116, 127, 141, 0.08);
    border-radius: 8px;
    & > .friend-add-item {
      border-top: 1px solid transparent;
    }
  }
}

.friend-add-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 0px 16px;
  border-top: 1px solid #0606070d;
  .friend-add-item-avatar {
    position: relative;
    margin-right: 12px;
    .friend-add-item-avatar-image {
      width: 45px;
      height: 45px;
      object-fit: contain;
      border-radius: 50%;
    }
    .friend-add-item-avatar-status {
      position: absolute;
      right: -1px;
      bottom: -1px;
    }
  }
  .friend-add-item-info {
    flex: 1;
    .friend-add-item-name-wrap {
      display: flex;
      align-items: center;
    }
    .friend-add-item-name {
      font-weight: 500;
      color: #000;
      margin: 0;
    }
    .friend-add-item-info-id {
      font-size: 13px;
      color: #7b7b7b;
      font-weight: 400;
    }
  }
  .friend-add-item-status {
    margin-left: 8px;
    font-size: 12px;
    margin-top: 1px;
    color: #888;
    &--active {
      color: #40ab0c;
      font-weight: 400;
    }
  }
  .friend-add-item-contact {
    display: flex;
    align-items: center;
    .friend-add-item-message {
      background-color: rgba(116, 127, 141, 0.12);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #5a5a5a;
        font-size: 18px;
      }
    }
    .friend-add-item-other {
      margin-left: 12px;
      background-color: rgba(116, 127, 141, 0.12);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #5a5a5a;
        font-size: 18px;
      }
    }
    .friend-add-item-add {
      margin-left: 12px;
      background-color: rgba(116, 127, 141, 0.12);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #5a5a5a;
        font-size: 18px;
      }
    }
    .friend-add-item-add-accept {
      background-color: #52c41a;
      svg {
        color: #fff;
        font-size: 18px;
      }
    }
    .friend-add-item-add-confirm {
      background-color: #fff;
      color: #52c41a;
      font-weight: 500;
      padding: 6px 12px;
      margin-left: 12px;
      border-radius: 3px;
    }
  }
}

.friend-add-item-add-accept-cancel {
  padding: 4px 6px;
  color: #ff4d4f;
  cursor: pointer;
  font-weight: 500;
  &:hover {
    background-color: #ff4d4f;
    border-radius: 5px;
    color: #fff;
  }
}

.friend-add-item-add-confirm-cancel {
  padding: 4px 6px;
  color: #ff4d4f;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  &:hover {
    background-color: #ff4d4f;
    border-radius: 5px;
    color: #fff;
  }
}

.friend-add-item-dropdown-menu {
  min-width: 200px;
}

.friend-add-item-dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
  text-align: left;
  &:hover {
    background-color: #88888824;
    border-radius: 5px;
  }
}

.friend-add-item-dropdown-unfriend {
  font-weight: 500;
  color: #ff4d4f;
}
