.chanel-header {
  height: 50px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .chanel-header-skeleton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .chanel-header-skeleton-left {
      display: flex;
      align-items: center;
    }
    .chanel-header-skeleton-right {
      display: flex;
      align-items: center;
    }
  }

  .chanel-header-member {
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -8px;
    &:hover {
      background-color: #88888810;
    }
    .chanel-header-member-info {
      position: relative;
      display: flex;
      align-items: center;
      .chanel-header-member-info-avatar {
        width: 36px;
        height: 36px;
        object-fit: contain;
        border-radius: 50%;
      }
      .chanel-header-member-info-dot {
        position: absolute;
        top: 25px;
        left: 25px;
      }

      .chanel-header-member-info-wrap-name {
        margin-left: 12px;

        .chanel-header-member-info-name {
          font-weight: 500;
          transform: translateY(4px);
        }
        .chanel-header-member-status {
          font-size: 13px;
          color: #888;
        }
      }
    }
  }

  .chanel-header-menu {
    display: flex;
    align-items: center;
    .chanel-header-menu-icon {
      margin-left: 18px;
      font-size: 24px;
      cursor: pointer;
      color: #4f5660;
    }
  }
}
