.image-error-relace {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  .image-error-relace-image {
    height: 40px;
    margin-right: 16px;
  }
  .image-error-relace-alt {
    color: #585858;
  }
}
