.me-form-password {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .me-form-password-title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 700;
  }
  .me-form-password-item {
    width: 49%;
    margin-bottom: 24px;
    &--full {
      width: 100%;
    }
    .me-form-password-item-label {
      font-size: 12px;
      font-weight: 400;
      color: #888;
    }
  }

  .me-form-password-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    .me-form-password-reset {
      margin-right: 16px;
      color: #000;
      background-color: #fff;
      border: 1px solid #888;
    }
  }
}
