.header-wrap-app {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    background-color: #b3c7ff29;
    border-radius: 25%;
    cursor: pointer;

}

.header-app-icon {
    font-size: 24px;
    color: #042b5d;
}

.header-menu-app {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    width: 270px;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 12px;

    &__item {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px 0px;
        padding: 4px 0px;
        transition: all 150ms;

        &:hover {
            // background-color: #e2e2e261;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 8px;
        }
    }

    &__icon {
        color: #545454;
        width: 48px;
        height: 48px;
        object-fit: cover;
    }

    &__text {
        font-weight: 600;
        margin-top: 4px;
        font-size: 13px;
        text-align: center;
    }
}