.profile-empty {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  p {
    color: #bdbdbd;
    margin-top: 24px;
    word-spacing: 2px;
  }
}

.profile {
  border-radius: 10px;
  overflow: hidden;
  margin: 16px;
  .profile-banner {
    background-color: #607d8b;
    width: 100%;
    height: 150px;
  }
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    transform: translateY(-75px);
    .profile-info {
      display: flex;
      align-items: center;
      .profile-avatar {
        padding: 6px;
        background-color: #fff;
        border-radius: 25%;
        .profile-avatar-image {
          border-radius: 25%;
          width: 150px;
          height: 150px;
        }
      }

      .profile-info-right {
        margin-top: 40px;
        margin-left: 12px;
        .profile-name {
          font-size: 18px;
          font-weight: 400;
        }
        .profile-id {
          font-weight: 400;
          color: #888;
          cursor: pointer;
        }
      }
    }
    .profile-header-menu {
      margin-top: 40px;
      display: flex;
      align-items: center;

      .profile-header-friend-request {
        margin: 0px 4px;
        background-color: #fff;
        border: 1px solid #1890ff !important;
        color: #1890ff;
        &:hover {
          background-color: #1890ff;
          color: #fff;
        }
      }
      .profile-header-friend-accept {
        margin: 0px 4px;
        background-color: #fff;
        border: 1px solid #52c41a !important;
        color: #52c41a;
        &:hover {
          background-color: #52c41a;
          color: #fff;
        }
      }
      .profile-header-friend-dropdown {
        margin: 0px 4px;
        background-color: #fff;
        border: 1px solid #52c41a !important;
        color: #52c41a;
        // &:hover {
        //   background-color: #52c41a;
        //   color: #fff;
        // }
      }
      .profile-header-setting {
        display: flex;
        align-items: center;
        .profile-header-setting-icon {
          font-size: 20px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .profile-body {
    border-top: 1px solid #e6e6e6;
    padding: 16px 32px;
    margin: 0px -8px;
    transform: translateY(-40px);
    display: flex;
    flex-wrap: wrap;
    .profile-body-item {
      width: 33.33%;
      margin: 8px;
      .profile-body-item-title {
        font-weight: 400;
      }
    }
    .profile-body-item-full {
      width: 100%;
      margin: 8px;
      .profile-body-item-title {
        font-weight: 400;
      }
    }
  }
}

.profile-header-friend-accept-cancel {
  padding: 4px 6px;
  color: #ff4d4f;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  &:hover {
    background-color: #ff4d4f;
    border-radius: 5px;
    color: #fff;
  }
}

.profile-header-friend-dropdown-menu {
  min-width: 200px;
}

.profile-header-friend-dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
  text-align: left;
  &:hover {
    background-color: #88888824;
    border-radius: 5px;
  }
}

.profile-header-friend-dropdown-unfriend {
  font-weight: 500;
  color: #ff4d4f;
}
