.modal-crop-avatar {
  .ant-modal {
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding-bottom: 0px !important;
  }

  .ant-modal-title {
    font-weight: 400;
    color: #000;
  }

  .ant-modal-close-icon {
    color: #000 !important;
  }

  .ant-modal-content {
    border-radius: 20px;
    padding: 8px;
  }

  .ant-modal-header {
    padding: 10px 24px !important;
    border-bottom: none;
  }

  .ant-modal-body {
    padding-top: 8px;
  }

  .ant-modal-close-x {
    height: 42px;
    line-height: 60px;
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
    padding-bottom: 16px;

    .ant-btn {
      width: 50%;
      border-radius: 20px;
      font-weight: 400;
      border: 1px dashed #bbb;
    }

    .ant-btn-primary {
      border: none;
      background-color: #3d47a9;
    }
  }

  .modal-crop-avatar-content {
    position: relative;
    height: 350px;
  }
  .crop-container {
    width: 350px;
    height: 350px;
  }

  .reactEasyCrop_CropArea {
    border-radius: 25%;
  }

  .reactEasyCrop_Container_width_full {
    .reactEasyCrop_Contain {
      max-width: unset;
      max-height: unset;
      width: 350px;
      height: auto;
    }
  }
  .reactEasyCrop_Container_height_full {
    .reactEasyCrop_Contain {
      max-width: unset;
      max-height: unset;
      width: auto;
      height: 350px;
    }
  }

  .modal-crop-avatar-zoom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    .slider {
      flex: 1;
      margin: 0px 16px;
    }
  }
}
