.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  color: #fff;
  background-color: #4093ff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  transition: 100ms;

  &:hover {
    background-color: #408ff5;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
