.button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: #fff;
  background-color: #3d47a9;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 100ms;

  &:hover {
    background-color: #4a57d4;
  }

  &:focus {
    outline: none;
  }
}
