.me-form-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .me-avatar {
    border-radius: 25%;
    cursor: pointer;
    position: relative;
    img {
      border-radius: 25%;
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
    .me-avatar-change {
      position: absolute;
      z-index: 1;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      border-radius: 25%;
      background-color: #545454c2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      font-weight: 600;
      opacity: 0;
      cursor: pointer;
      transition: 100ms;
      &:hover {
        opacity: 1;
      }
      .me-avatar-change-icon {
        font-size: 24px;
      }
      #file-avatar {
        display: none;
      }
    }
  }

  .me-buttons-update-avatar {
    display: flex;
    justify-content: center;
    margin: 8px 0px;
  }
  .me-button-prev-avatar {
    background-color: #ff5722;
    font-size: 18px;
    padding: 3px 6px;
    margin: 0px 4px;
  }

  .me-button-change-avatar {
    background-color: #4caf50;
    font-size: 18px;
    padding: 3px 6px;
    margin: 0px 4px;
  }

  .me-name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000;
  }
  .me-id {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;
    background-color: #009688;
    padding: 4px 8px;
    border-radius: 5px;
    width: max-content;
  }

  .me-view-menu {
    width: 100%;
    .me-view-menu-item {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      padding: 8px;
      color: #6a7480;
      margin: 4px 0px;
      &--active {
        background-color: rgba(116, 127, 141, 0.15) !important;
        color: #000;
      }

      &:hover {
        background-color: rgba(116, 127, 141, 0.08);
        color: #000;
      }
    }
  }
}
