.register-card {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
  z-index: 1;

  &__title {
    font-weight: 700;
    color: #404040;
    font-size: 1.25rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
    font-family: "Recursive", sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }

  .register-card-form {
    margin-left: 70px;
    min-width: 350px;
    .register-card-form-title {
      font-weight: 700;
      color: #404040;
      font-size: 1.25rem;
      margin-bottom: 0rem;
      text-transform: uppercase;
      font-family: "Recursive", sans-serif;
      letter-spacing: 2px;
      text-align: center;
    }

    .register-card-form-sub-title {
      font-size: 16px;
      color: #5e6c84;
      letter-spacing: 1px;
      max-width: 350px;
      text-align: center;
    }

    .register-form-submit {
      width: 100%;
      margin-top: 24px;
      border-radius: 10px;
      padding: 10px;
      font-weight: 600;
      background-color: #03a9f4;
      font-size: 15px;
    }
  }

  &__input-username {
    margin-top: 1rem;
  }

  &__input-password {
    margin-top: 0.5rem;
  }

  &__login {
    color: #4093ff;
    text-decoration: none;
    font-size: 13px;
    margin-top: 16px;
    display: block;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .register-card-line-center {
    position: relative;
    width: 1px;
    background-color: #e4e4e4;
    align-self: stretch;
    .register-card-line-button-icon {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 50%;
      .register-card-line-icon {
        font-size: 30px;
        color: #607d8b;
      }
    }
  }

  .register-card-oauth {
    margin-right: 70px;
    .register-card-sub-title {
      font-size: 16px;
      color: #5e6c84;
      letter-spacing: 1px;
      max-width: 350px;
      text-align: center;
    }
    .register-card-with {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dedede;
      width: 100%;
      padding: 12px 24px;
      margin-bottom: 0.875rem;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;
        border: 1px solid transparent;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
      }

      span {
        font-size: 14px;
        color: #4093ff;
        font-weight: 700;
      }
    }
  }
}
