.me-form-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .me-form-edit-title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;
  }
  .me-form-edit-item {
    width: 49%;
    margin-bottom: 24px;
    &--full {
      width: 100%;
    }
    .me-form-edit-item-label {
      font-size: 12px;
      font-weight: 400;
      color: #888;
    }
  }

  .me-form-edit-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    .me-form-edit-reset {
      margin-right: 16px;
      color: #000;
      background-color: #fff;
      border: 1px solid #888;
    }
    .me-form-edit-submit {
      padding: 6px 12px;
      font-weight: 400;
    }
  }
}
