@import "antd/dist/antd.css";
@import "emoji-mart-virtualized/css/emoji-mart.css";
@import "react-h5-audio-player/lib/styles.css";

:root {
  --header-height: 50px;
  --left-layout-width: 292px;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

body * {
  box-sizing: border-box;
}

body p,
a,
i,
b,
strong,
span,
div {
  font-size: 14px;
}

a {
  text-decoration: none;
}

body.light {
  --backgroud-color: #f9fafc;
}

body.dark {
  --backgroud-color: #000;
}

.ant-message-success {
  font-weight: 400;
  color: #8c8c8c;
}

.ant-message-notice-content {
  border-radius: 10px;
}

.ant-tooltip {
  font-weight: 400;
}

.ant-tooltip-arrow-content {
  background-color: #fff;
}

.ant-tooltip-inner {
  font-size: 12px;
  min-height: fit-content;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.Toastify__toast-container {
  width: 330px !important;
}

.Toastify__close-button {
  box-sizing: content-box;
  transform: translateY(8px);
  background-color: #a2a2a2d4 !important;
  min-width: 24px !important;
  min-height: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: unset;
  &:hover {
    opacity: 1 !important;
  }
  svg {
    margin-left: 1px;
    color: #000;
  }
}

.linkify {
  color: #0068e0;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
