.header {
  height: var(--header-height);
  background-color: var(--backgroud-color);
  display: flex;
}

.header-wrap {
  flex: 1;
  background-color: #fff;
  padding: 0px 16px;
  position: relative;
  box-shadow: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025),
    0 2px 0 rgba(6, 6, 7, 0.025);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
  }
}

.header-breadcrumb-link {
  .breadcrumb-link__item {
    letter-spacing: 0.2px;
    color: #6b778c;
    font-weight: 600;
    font-size: 13px;

    &:hover {
      color: #525252;
      text-decoration: underline;
    }
  }

  .breadcrumb-link__slpash {
    margin: 0px 0.75rem;
    color: #6b778c;
  }
}

.header-page-name {
  font-size: 16px;
  font-weight: 600;
}
