.left-layout {
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0px;
    width: var(--left-layout-width);
    padding-top: var(--header-height);
    background-color: var(--backgroud-color);
    padding-left: 16px;
    padding-right: 16px;
    z-index: 2;

    &:hover {
        &>.btn-zoom {
            display: flex;
        }
    }

    .btn-zoom {
        position: absolute;
        top: 100px;
        right: -12px;
        z-index: 10;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 10px 0px;
        background-color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: none;
        transition: 300ms;

        &:hover {
            background-color: #40a9ff;
            color: #fff;
        }

        &__icon {
            font-size: 18px;

        }
    }

    &__menu {
        width: 100%;
        margin-top: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        transition: 300ms;

        &--zoom {
            padding: 0;
            margin: 22px 8px;
            cursor: pointer;
        }

        &:hover {
            background-color: #e0e0e026;

        }

        &:hover>.left-layout__text {
            font-weight: 600;
            color: #042b5d;

        }

        &:hover>.left-layout__icon {
            color: #042b5d;

        }
    }

    &__icon {
        font-size: 22px;
        margin-right: 16px;
    }

    &__text {
        color: #444444;
    }
}